.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 16px;
}
.search {
  width: 100%;
}

.delte-item {
  color: var(--danger);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.fs-14 {
  font-size: 14px;
}
.flex-25 {
  flex: 25%;
}
